
<h1>Administrator of Hotels</h1>
<br>
<div class="button">
    <button type="submit" class="btn btn-success" (click)='createHotelRef()'>Create new Hotel</button>    
</div>
<div>
    <table class="table table-sm">
        <thead class="table-success">            
            <tr>
                <th>No.</th>
                <th>Name Hotel</th>            
                <th>Country</th>
                <th>City</th>
                <th>State</th>            
                <th>ZipeCode</th>
                <th>Address</th>
                <th>PhoneHotel</th>
                <th></th>
            </tr>
        </thead>
        <tr  *ngFor = "let hotel of hotels let i = index">                
            <td>{{i+1}}</td>
            <td>{{hotel.nameHotel}}</td>
            <td>{{hotel.country}}</td>
            <td>{{hotel.city}}</td>
            <td>{{hotel.state}}</td>
            <td>{{hotel.zipCode}}</td>
            <td>{{hotel.address}}</td>
            <td>{{hotel.phoneHotel}}</td>
            <td><a (click)="obtenerData(hotel)">More_Options</a></td>
        </tr>
    </table>
</div>