<nav class="navbar navbar-expand-lg navbar-dark">

    <div class="container-fluid">
      <a routerLink="/home">
        <img class="imgUser" src="../../../assets/img/Sin título.png" alt="Logo Web Hotel">
        <a class="navbar-brand">Web Hotel</a>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">      
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf='token == null' routerLink="/login" routerLinkActivate="active">
              <img class="imgnavbar" src="../../../assets/img/user.png" alt="login">
          </a>            
          <!--<a class="nav-link" href="#">Perfil</a>-->            
      </li>
        <li class="nav-item dropdown" *ngIf="token != null || token != undefined">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <img *ngIf="user.image" id="imgUserNavbar" src="{{uri+'getImage/'+user.image}}" alt="user image">
          </a>
          <ul class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown" aria-haspopup="true" aria-expanded="false">
            <li><a class="dropdown-item" routerLink="/perfil">Profile</a></li>
            <li><a class="dropdown-item" routerLink="/listReservation">Reservations</a></li>
            <li><a class="dropdown-item" routerLink="">My History</a></li>
            <li><a class="dropdown-item" routerLink="/home">Home</a></li>
            <li *ngIf="user.rol == 'ADMIN_HOTEL'"><a class="dropdown-item" routerLink="/hotel">My Hotels</a></li>
            <li *ngIf="user.rol == 'ADMIN'"><a class="dropdown-item" routerLink="/listUsers">List Users</a></li>
            <li *ngIf="user.rol == 'ADMIN'"><a class="dropdown-item" routerLink="/creatAdmin">Create Admin/Hotel</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logOut()">LogOut</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>    
  </nav>