<div class="container">
    <div class=card1>
        <img class=imageBackground src="../../../assets/img/Shape1.png" height=100% alt="Shape1">
        <div  class=search>
            <h1 id=slogan>Quédate con nosotros siéntete como en casa.</h1>
            <input name='country' id=searchCountry type="text" placeholder="¿A dónde vas?">
            <div>
                <input name='checkIn' class=searchCheck type="date"  min="2021-05-23">
                <input name='checkOut' class=searchCheck type="date" >
            </div>
        </div>
    </div>
    <div class=card2>
        <img class=image src="../../../assets/img/Travlers.png" alt="Travlers">
    </div>
</div>