<body>
  <h1 class="text-center">Lista de Reservaciones</h1>
  <div id="reserv">    
      <hr>
      <div class="myWidth text-white bg-secondary">
          <div class="card-body">
            <h5 class="card-title">{{reservation.user}} | {{reservation.room}}</h5>
            <h6 class="card-subtitle">{{reservation._id}}</h6>
            <button class="btn btn-lg btn-primary btn-block bg-light text-info" type="button" routerLink="/reservation">Actualizar Reservaciones</button>
          </div>
      </div>
  </div>

</body>