<h2>Events of Hotel</h2>
<div>
    <table class="table table-sm">
        <thead class="table-success">            
            <tr>
                <th>No.</th>
                <th>Name Event</th>            
                <th>Type Event</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tr  *ngFor = "let event of events let i = index">                
            <td>{{i+1}}</td>
            <td>{{event.nameEvent}}</td>
            <td>{{event.typeEvent}}</td>
            <td>{{event.date}}</td>
            <td><a (click)="obtenerData(event)">More_Options</a></td>
        </tr>
    </table>
</div>
