<body class="text-center">
    <form class="form-signin" #saveUser="ngForm" (ngSubmit)="onSubmit(createReservation)">
        <h1 class="h3 mb-3 font-weight-normal">Reservation</h1>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputUser">Reservante</label>
                <input name='User' #name="ngModel" class="form-control" id="User" type="text" placeholder="Reservante" required>
                <span *ngIf="!User.valid && User.touched">
                    *Obligatorio
                </span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputReservante">Estadía</label>
                <input name='checkIn' #checkIn="ngModel" class="form-control" id="checkIn" type="date" placeholder="Entrada" required>
                <span *ngIf="!checkIn.valid && checkIn.touched">
                    *Obligatorio
                </span>

                <input name='checkOut' #checkOut="ngModel" class="form-control" id="checkOut" type="date" placeholder="Salida" required>
                <span *ngIf="!checkOut.valid && checkOut.touched">
                    *Obligatorio
                </span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputserviceBefore">Servicios</label>
                <select name='serviceBefore'>
                    <option selected>N/A</option>
                    <option>{{service.nameService}}</option>
                </select>
            </div>

        <button class="btn btn-lg btn-primary btn-block bg-primary" type="button">Agregar servicio</button>
        
        <button class="btn btn-lg btn-success btn-block bg-success" type="submit" [disabled]='!Reservationform.valid'>Confirmar reservación</button>
        <button class="btn btn-lg btn-danger btn-block bg-danger" type="button" routerLink="/room">Cancelar reservación</button>
    </form>
</body>