<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" width="72" height="72" src="../../../assets/img/login2.png" alt="logo">
        <h1 class="h3 mb-3 font-weight-normal">Please Log In</h1>
        
        <label for="inputUsername">username</label>
        <input class="form-control" name="username" class="form-control" type="text" id="inputUsername" placeholder="Enter username" required>

        <label for="inputPassword">Password</label>
        <input class="form-control" name="password" class="form-control" type="password" id="inputPassword" placeholder="Enter password" required>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-danger btn-block bg-info" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; Web Hotel 2021</p>
    </form>
</body>